<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!-- Kafka 配置 -->
    <variable name="LOGGING_KAFKA_BOOTSTRAP_SERVERS" value="${LOGGING_KAFKA_BOOTSTRAP_SERVERS:-localhost:9092}" />
    <variable name="LOGGING_KAFKA_TOPIC" value="${LOGGING_KAFKA_TOPIC:-app-logs}" />
    <!--引用spring变量-->
    <springProperty scope="context" name="application-name" source="spring.application.name"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

    <!-- 通过 Kafka 发送日志的 Appender（自定义实现，兼容 Java 21） -->
    <appender name="KAFKA" class="com.kevin.demo.micro.common.logging.KafkaAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${LOGSTASH_LEVEL:-INFO}</level>
        </filter>
        <bootstrapServers>${LOGGING_KAFKA_BOOTSTRAP_SERVERS}</bootstrapServers>
        <topic>${LOGGING_KAFKA_TOPIC}</topic>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc/>
                <context/>
                <logLevel/>
                <loggerName/>
                <pattern>
                    <pattern>
                        {
                        "service": "${application-name:-}"
                        }
                    </pattern>
                </pattern>
                <threadName/>
                <message/>
                <logstashMarkers/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="KAFKA" />
    </root>

</configuration>